/*Edgardo Saucedo López 182155*/
#cuadro{
    display: block;
    width: 200px;
    padding: 20px;
    border: 1px solid #da6f03;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#ffffff;
    text-align: center;
    margin: 15px auto;
    background: #da6f03;
   -moz-transform: scale(1,1);
   -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

#cuadro:hover{
    display: block;
    width: 200px;
    padding: 20px;
    border: 1px solid #72df76;
    color:#323318;
    text-align: center;
    text-orientation: sideways-right;
    margin: 15px auto;
    background: #72df76;
    -moz-border-radius: 20px; /*10px 30px 40px;*/
    -webkit-border-radius: 20px; /*10px 30px 40px;*/
    border-radius: 20px; /*10px 30px 40px; */
    -moz-transform: skew(10deg);
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
}

#cuadro:active{
    display: block;
    width: 200px;
    padding: 20px;
    border: 1px solid #0c85e1;
    color:#323318;
    text-align: center;
    text-orientation: sideways-right;
    margin: 15px auto;
    background: #0c85e1;
    -moz-box-shadow: rgb(101, 96, 96) 10px 15px 10px;
    -webkit-box-shadow: rgb(101, 96, 96) 10px 15px 10px;
    box-shadow: rgb(101, 96, 96) 10px 15px 10px;
}